@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.hero, .bg-video__content {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 100%;
}
.security {
  background-image: url('images/security.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
body {
  @apply font-monserrat text-stone-700;
}

.active{
  @apply text-teal-500 font-bold border-b-2 border-b-teal-500;
}
.mytext{
  opacity: 0;
}
@keyframes house1{
from {
  transform: translateX(-100px);
  opacity: 0;
}
to {
  transform: translateX(0);
  opacity:1;
}
}


.btrow{
  opacity: 0;
}
@keyframes row2animation{
from {
  transform: translateX(100px);
  opacity: 0;
}
to {
  transform: translateX(0);
  opacity:1;
}
}


.wordItem{
  opacity: 0;
}
@keyframes wordanimation{
from {
  transform: translateX(-200px);
  opacity: 0;
}
to {
  transform: translateX(0);
  opacity:1;
}
}


.specs{
  opacity: 0;
}
@keyframes boxanimation{
from {
  transform: translateY(-100px);
  opacity: 0;
}
to {
  transform: translateY(0);
  opacity:1;
}
}
.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #14b8a6;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #14b8a6;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}